.modal {
    max-height: 600px;
    height: 100%;
    max-width: 700px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-lighter-grey);
    z-index: 21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 9px 10px #a9a9a938;
    gap: 5px;
    animation: show 300ms;
}

@keyframes show {
    from {
        transform: translateX(-50%) translateY(-40%);
    }
}

.modal * {
    animation: none !important;
}

.modal > header {
    display: flex;
    justify-content: flex-end;
    max-height: 5%;
}

.content {
    height: calc(100% - 60px);

}

/*.modal > footer {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    height: 10%;*/
/*}*/

/*.confirm {*/
/*    background-color: var(--red);*/
/*    color: white;*/
/*    font-size: 18px;*/
/*}*/

/*.close {*/
/*    background-color: #333740;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*}*/