.countrySelectInput {
    width: 100%;
}

.fieldContent {
    position: relative;
}

.countryListContainer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--white);
    padding: 5px;
    border: 1px solid var(--border-light-grey);
}

.countryListContainer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.countryListContainer > ul > li {
    cursor: pointer;
    padding: 5px;
    font-size: 12px;
    color: var(--dark-grey);
}

.countryListContainer > ul > li:hover {
    background-color: var(--black-alpha-08);
}