.defaultInputContainer {
    width: 100%;
}

.input {
    border-radius: 6px;
    outline: none !important;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-light-grey);
    transition: 300ms;
    color: var(--grey);
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}

.input:hover {
    box-shadow: 1px 1px 3px var(--black-alpha-08);
}

.input:focus {
    color: var(--dark-grey);
    box-shadow: 2px 2px 5px var(--black-alpha-2);
}

.label {
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
    color: var(--dark-grey);
    font-size: 12px;
    font-weight: 500;
}

.label > sup {
    color: var(--red);
}

@media (max-width: 768px) {
    .input {
        font-weight: 500;
        font-size: 10px;
        letter-spacing: .24pt;
    }

    .label {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .input {
        font-weight: 500;
        font-size: 10px;
        letter-spacing: .24pt;
    }

    .label {
        font-size: 10px;
    }
}
